In [1]:
#Dependencises and Setup
import pandas as pd
#File to Load in HeroesOfPymoli
file_to_load = "Resources/purchase_data.csv"

# Put file data in pandas Dataframe
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df_org = pd.read_csv(file_to_load)

#  Player Count

-  *Display the total number of Players*

In [2]:
total_players = len(purchase_data_df["SN"].value_counts())
pd.DataFrame([total_players], columns=["Total Players"])

   Total Players
0            576

# Purchasing Analysis (Total)
- Run basic calculations to obtain number of unique items, average price, etc.
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [3]:
number_of_unique_items = len(purchase_data_df["Item ID"].value_counts())
average_price_of_items = round(purchase_data_df["Price"].mean(),2)
number_of_purchases = purchase_data_df["Purchase ID"].count()
total_sales_revenue = purchase_data_df["Price"].sum()
pd.DataFrame({"number_of_unique_items": [number_of_unique_items], 
              "average_price_of_items": [average_price_of_items],
              "number_of_purchases": [number_of_purchases],
              "total_sales_revenue": [total_sales_revenue]})

,number_of_unique_items,average_price_of_items,number_of_purchases,total_sales_revenue
0,179,3.05,780,2379.77

# Gender Demographics
- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [4]:
gender_df = purchase_data_df[[ "SN" , "Gender"]].drop_duplicates()
gender_list = gender_df["Gender"].value_counts()
total_count_players = [gender_list[0], gender_list[1], gender_list[2]]
cnt_total_players = gender_df["Gender"].value_counts().sum()
percentage_male_players = round(gender_list[0] * 100 / cnt_total_players,2)
percentage_female_players = round(gender_list[1] * 100 / cnt_total_players,2)
percentage_other_players = round(gender_list[2] * 100 / cnt_total_players,2)
percentage_list = [percentage_male_players, percentage_female_players , percentage_other_players ]
pd.options.display.float_format = '{:,.2f}%'.format
pd.DataFrame({"Total Count" : total_count_players, "Percentage of Players": percentage_list }, index = ["Male","Female","Other/Non-Disclosed"])

                     Total Count  Percentage of Players
Male                         484                 84.03%
Female                        81                 14.06%
Other/Non-Disclosed           11                  1.91%

# Purchasing Analysis (Gender)
- Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [5]:
#reset formatting
pd.options.display.float_format = '{:,.2f}'.format

In [6]:
#Purchase count calculation 
male_purchase_count = purchase_data_df["Gender"].value_counts()["Male"]
female_purchase_count = purchase_data_df["Gender"].value_counts()["Female"]
other_purchase_count = purchase_data_df["Gender"].value_counts()["Other / Non-Disclosed"]
total_purchase_count = male_purchase_count + female_purchase_count + other_purchase_count
### Purchase count LIST #####
purchase_count_list = [female_purchase_count, male_purchase_count, other_purchase_count]

# Average Purchase Price calculation
male_purchase_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male"]
female_purchase_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female"]
other_purchase_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed"]
male_avg_purchase_price = round(male_purchase_df["Price"].mean(),2)
female_avg_purchase_price = round(female_purchase_df["Price"].mean(),2)
other_avg_purchase_price = round(other_purchase_df["Price"].mean(),2)
#### average purchase proce List ###
avg_purchase_price_list = [female_avg_purchase_price, male_avg_purchase_price, other_avg_purchase_price]
total_avg_purchase_price = purchase_data_df["Price"].mean
#total purchase value
male_total_purchase_value = male_purchase_df["Price"].sum()
female_total_purchase_value = female_purchase_df["Price"].sum()
other_total_purchase_value = other_purchase_df["Price"].sum()
#### total_prchase List ####
total_purchase_list = [female_total_purchase_value, male_total_purchase_value, other_total_purchase_value]
purchase_data_df["Price"].sum()

#Average total purchase per person
avg_male_purchase_per_person = round(male_purchase_df["Price"].sum() / gender_list[0],2)
avg_female_purchase_per_person = round(female_purchase_df["Price"].sum() / gender_list[1],2)
avg_other_purchase_per_person = round(other_purchase_df["Price"].sum() / gender_list[2],2)
#### List ####3
avg_purchase_per_person_list = [avg_female_purchase_per_person, avg_male_purchase_per_person, avg_other_purchase_per_person ]
# create dataframe from purchasing analysis data to display in specific format
pd.DataFrame({"Purchase Count" : purchase_count_list, 
              "Average Purchase Price": avg_purchase_price_list,
              "Total Purchase Value": total_purchase_list,
              " Avg Total Purchase per Person": avg_purchase_per_person_list }, 
             index = ["Female","Male","Other/Non-Disclosed"]).rename_axis("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,"1,967.64",4.07
Other/Non-Disclosed,15,3.35,50.19,4.56

# Age Demographics
- Establish bins for ages
- Categorize the existing players using the age bins. Hint: use pd.cut()
- Calculate the numbers and percentages by age group
- Create a summary data frame to hold the results
- Optional: round the percentage column to two decimal points

In [18]:
players_age_demographics = purchase_data_df.loc[:, ["Gender","SN","Age"]]
players_age_demographics = players_age_demographics.drop_duplicates()
age_bins = [0,9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999]
age_titles = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
players_age_demographics["Age Ranges"] = pd.cut(players_age_demographics["Age"], age_bins, labels = age_titles)
players_demographics_df = players_age_demographics["Age Ranges"].value_counts().sort_index()
percentage_of_players = players_age_demographics["Age Ranges"].value_counts().sort_index() * 100 / total_players
age_demographics_df = pd.DataFrame({"Total Purchase Count": players_demographics_df, 
                                     "Percentage of Players": percentage_of_players 
                                    })
pd.options.display.float_format = '{:,.2f}%'.format
age_demographics_df

       Total Purchase Count  Percentage of Players
<10                      17                  2.95%
10-14                    22                  3.82%
15-19                   107                 18.58%
20-24                   258                 44.79%
25-29                    77                 13.37%
30-34                    52                  9.03%
35-39                    31                  5.38%
40+                      12                  2.08%

       Total Purchase Count  Percentage of Players
<10                      17                   2.95
10-14                    22                   3.82
15-19                   107                  18.58
20-24                   258                  44.79
25-29                    77                  13.37
30-34                    52                   9.03
35-39                    31                   5.38
40+                      12                   2.08

# Purchasing Analysis (Age)
- Bin the purchase_data data frame by age
- Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the -  table below
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [86]:
#reset previous formatting 
pd.options.display.float_format = '{:,.2f}'.format
# break down of purchase on age bracket
age_purchase_demographics_df = purchase_data_df.loc[:, ["SN","Age","Price"]]
#pd.cut(age_purchase_demographics["Age"], age_bins, labels = age_titles).value_counts().sort_index()
age_purchase_demographics_df["Age Ranges"] = pd.cut(age_purchase_demographics["Age"], age_bins, labels = age_titles)
age_purchase_demographics_df["Age Ranges"].value_counts().sort_index()
age_purchasing_analysis_df = age_purchase_demographics_df[["Age Ranges", "Price"]]
age_purchasing_analysis_count = age_purchasing_analysis_df.groupby("Age Ranges").count()["Price"].rename("Purchase Count")
age_purchasing_analysis_average = age_purchasing_analysis_df.groupby("Age Ranges").mean()["Price"].rename("Average Purchase Price")
age_purchasing_age_total_sum = age_purchasing_analysis_df.groupby("Age Ranges").sum()["Price"].rename("Total Purchase Value")
#players_demographics_df
avg_total_purchase_per_person = age_purchasing_analysis_purchase_value["Price"] / players_demographics_df
pd.DataFrame({"Purchase Count": age_purchasing_analysis_count,
              "Average Purchase Price":age_purchasing_analysis_average,
              "Total Purchase Value":age_purchasing_age_total_sum,
              "Avg Total Purchase per Person":avg_total_purchase_per_person })

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,"1,114.06",4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

# Top Spenders
- Run basic calculations to obtain the results in the table below
- Create a summary data frame to hold the results
- Sort the total purchase value column in descending order
- Optional: give the displayed data cleaner formatting
- Display a preview of the summary data frame

In [100]:
top_spenders_df = purchase_data_df.loc[:, ["SN","Price"]]

In [141]:
top_purchaser_count = top_spenders_df.groupby("SN").count()["Price"].rename("Purchase Count")
top_purchaser_average_price = top_spenders_df.groupby("SN").mean()["Price"].rename("Average Purchase Price")
top_purchaser_total_purchase_value = top_spenders_df.groupby("SN").sum()["Price"].rename("Total Purchase Value")

#top_purchaser_count
#top_purchaser_total_purchase_value
#top_purchaser_average_price

In [142]:
pd.DataFrame({"Purchase Count": top_purchaser_count,
              "Average Purchase Price":top_purchaser_average_price,
              "Total Purchase Value":top_purchaser_total_purchase_value,
             }).sort_values("Total Purchase Value" , ascending = False).head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

# Most Popular Items
- Retrieve the Item ID, Item Name, and Item Price columns
- Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total -purchase value
- Create a summary data frame to hold the results
- Sort the purchase count column in descending order
- Optional: give the displayed data cleaner formatting
- Display a preview of the summary data frame

In [295]:
most_popular_items_df = purchase_data_df.loc[:, ["Item ID", "Item Name", "Price"]]
most_popular_items_count = most_popular_items_df.groupby(["Item ID","Item Name"]).count().sort_values( "Price", ascending = False).head(5)
most_popular_items_purchase = most_popular_items_df.groupby(["Item ID","Item Name"]).sum().sort_values( "Price", ascending = False).head(15)
most_popular_items_display_df = most_popular_items_count.merge(most_popular_items_purchase, left_index=True, right_index=True).rename(columns = {'Price_x':'Purchase Count',
                                                                                                                                                 'Price_y':'Total Purchase value'}).sort_values(["Purchase Count"],                                                                                                                                                   ascending = False)
most_popular_items_display_df.insert(1,"Item Price",most_popular_items_display_df["Total Purchase value"] / most_popular_items_display_df["Purchase Count"], True)
                                                                                                                                                 
                                                                                                                                                

#Display Output
most_popular_items_display_df

,,Purchase Count,Item Price,Total Purchase value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
132,Persuasion,9,3.22,28.99

# Most Profitable Items
- Sort the above table by total purchase value in descending order
- Optional: give the displayed data cleaner formatting
- Display a preview of the data frame

In [296]:
most_profitable_items_df = purchase_data_df.loc[:, ["Item ID", "Item Name", "Price"]]

In [ ]:
most_profitable_items_count = most_profitable_items_df.groupby(["Item ID","Item Name"]).count().sort_values( "Price", ascending = False).head(5)
most_profitable_items_purchase = most_prof_items_df.groupby(["Item ID","Item Name"]).sum().sort_values( "Price", ascending = False).head(15)