In [2]:
#Dependencises and Setup
import pandas as pd
#File to Load in HeroesOfPymoli
file_to_load = "Resources/purchase_data.csv"

# Put file data in pandas Dataframe
purchase_data_df = pd.read_csv(file_to_load)

#  Player Count

-  *Display the total number of Players*

In [3]:
total_players = len(purchase_data_df["SN"].value_counts())
pd.DataFrame([total_players], columns=["Total Players"])

   Total Players
0            576

# Purchasing Analysis (Total)
- Run basic calculations to obtain number of unique items, average price, etc.
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [5]:
number_of_unique_items = len(purchase_data_df["Item ID"].value_counts())
average_price_of_items = round(purchase_data_df["Price"].mean(),2)
number_of_purchases = purchase_data_df["Purchase ID"].count()
total_sales_revenue = purchase_data_df["Price"].sum()
pd.DataFrame({"number_of_unique_items": [number_of_unique_items], 
              "average_price_of_items": [average_price_of_items],
              "number_of_purchases": [number_of_purchases],
              "total_sales_revenue": [total_sales_revenue]})

,number_of_unique_items,average_price_of_items,number_of_purchases,total_sales_revenue
0,179,3.05,780,2379.77

# Gender Demographics
- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [95]:
gender_df = purchase_data_df[[ "SN" , "Gender"]].drop_duplicates()
gender_list = gender_df["Gender"].value_counts()
total_count_players = [gender_list[0], gender_list[1], gender_list[2]]
cnt_total_players = gender_df["Gender"].value_counts().sum()
percentage_male_players = round(gender_list[0] * 100 / cnt_total_players,2)
percentage_female_players = round(gender_list[1] * 100 / cnt_total_players,2)
percentage_other_players = round(gender_list[2] * 100 / cnt_total_players,2)
percentage_list = [percentage_male_players, percentage_female_players , percentage_other_players ]
pd.options.display.float_format = '{:,.2f}%'.format
pd.DataFrame({"Total Count" : total_count_players, "Percentage of Players": percentage_list }, index = ["Male","Female","Other/Non-Disclosed"])

                     Total Count  Percentage of Players
Male                         484                 84.03%
Female                        81                 14.06%
Other/Non-Disclosed           11                  1.91%

# Purchasing Analysis (Gender)
- Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [110]:
pd.options.display.float_format = '{:,.2f}'.format
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

780

In [162]:
#Purchase count calculation 
male_purchase_count = purchase_data_df["Gender"].value_counts()["Male"]
female_purchase_count = purchase_data_df["Gender"].value_counts()["Female"]
other_purchase_count = purchase_data_df["Gender"].value_counts()["Other / Non-Disclosed"]
total_purchase_count = male_purchase_count + female_purchase_count + other_purchase_count
### Purchase LIST #####
purchase_count_list = [female_purchase_count, male_purchase_count, other_purchase_count]

# Average Purchase Price calculation
male_purchase_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male"]
female_purchase_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female"]
other_purchase_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed"]
male_avg_purchase_price = round(male_purchase_df["Price"].mean(),2)
female_avg_purchase_price = round(female_purchase_df["Price"].mean(),2)
other_avg_purchase_price = round(other_purchase_df["Price"].mean(),2)
#### List ###
avg_purchase_price_list = [female_avg_purchase_price, male_avg_purchase_price, other_avg_purchase_price]
total_avg_purchase_price = purchase_data_df["Price"].mean
#total purchase value
male_total_purchase_value = male_purchase_df["Price"].sum()
female_total_purchase_value = female_purchase_df["Price"].sum()
other_total_purchase_value = other_purchase_df["Price"].sum()
#### List ####
total_purchase_list = [female_total_purchase_value, male_total_purchase_value, other_total_purchase_value]
purchase_data_df["Price"].sum()

#Average total purchase per person
avg_male_purchase_per_person = round(male_purchase_df["Price"].sum() / gender_list[0],2)
avg_female_purchase_per_person = round(female_purchase_df["Price"].sum() / gender_list[1],2)
avg_other_purchase_per_person = round(other_purchase_df["Price"].sum() / gender_list[2],2)
#### List ####3
avg_purchase_per_person_list = [avg_female_purchase_per_person, avg_male_purchase_per_person, avg_other_purchase_per_person ]

In [165]:
# create dataframe from purchasing analysis data to display in specific format
pd.DataFrame({"Purchase Count" : purchase_count_list, 
              "Average Purchase Price": avg_purchase_price_list,
              "Total Purchase Value": total_purchase_list,
              " Avg Total Purchase per Person": avg_purchase_per_person_list }, 
             index = ["Female","Male","Other/Non-Disclosed"]).rename_axis("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,"1,967.64",4.07
Other/Non-Disclosed,15,3.35,50.19,4.56

4.56