In [2]:
#Dependencises and Setup
import pandas as pd
#File to Load in HeroesOfPymoli
file_to_load = "Resources/purchase_data.csv"

# Put file data in pandas Dataframe
purchase_data_df = pd.read_csv(file_to_load)

#  Player Count

-  *Display the total number of Players*

In [3]:
total_players = len(purchase_data_df["SN"].value_counts())
pd.DataFrame([total_players], columns=["Total Players"])

   Total Players
0            576

# Purchasing Analysis (Total)
- Run basic calculations to obtain number of unique items, average price, etc.
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [5]:
number_of_unique_items = len(purchase_data_df["Item ID"].value_counts())
average_price_of_items = round(purchase_data_df["Price"].mean(),2)
number_of_purchases = purchase_data_df["Purchase ID"].count()
total_sales_revenue = purchase_data_df["Price"].sum()
pd.DataFrame({"number_of_unique_items": [number_of_unique_items], 
              "average_price_of_items": [average_price_of_items],
              "number_of_purchases": [number_of_purchases],
              "total_sales_revenue": [total_sales_revenue]})

,number_of_unique_items,average_price_of_items,number_of_purchases,total_sales_revenue
0,179,3.05,780,2379.77

# Gender Demographics
- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [95]:
gender_df = purchase_data_df[[ "SN" , "Gender"]].drop_duplicates()
gender_list = gender_df["Gender"].value_counts()
total_count_players = [gender_list[0], gender_list[1], gender_list[2]]
cnt_total_players = gender_df["Gender"].value_counts().sum()
percentage_male_players = round(gender_list[0] * 100 / cnt_total_players,2)
percentage_female_players = round(gender_list[1] * 100 / cnt_total_players,2)
percentage_other_players = round(gender_list[2] * 100 / cnt_total_players,2)
percentage_list = [percentage_male_players, percentage_female_players , percentage_other_players ]
pd.options.display.float_format = '{:,.2f}%'.format
pd.DataFrame({"Total Count" : total_count_players, "Percentage of Players": percentage_list }, index = ["Male","Female","Other/Non-Disclosed"])

                     Total Count  Percentage of Players
Male                         484                 84.03%
Female                        81                 14.06%
Other/Non-Disclosed           11                  1.91%