In [1]:
#Dependencises and Setup
import pandas as pd
#File to Load in HeroesOfPymoli
file_to_load = "Resources/purchase_data.csv"

# Put file data in pandas Dataframe
purchase_data_df = pd.read_csv(file_to_load)

#  Player Count

-  *Display the total number of Players*

In [2]:
total_players = len(purchase_data_df["SN"].value_counts())
pd.DataFrame([total_players], columns=["Total Players"])

   Total Players
0            576

# Purchasing Analysis (Total)
- Run basic calculations to obtain number of unique items, average price, etc.
- Create a summary data frame to hold the results
- Optional: give the displayed data cleaner formatting
- Display the summary data frame

In [3]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [35]:
number_of_unique_items = len(purchase_data_df["Item ID"].value_counts())
average_price_of_items = round(purchase_data_df["Price"].mean(),2)
number_of_purchases = purchase_data_df["Purchase ID"].count()
total_sales_revenue = purchase_data_df["Price"].sum()
pd.DataFrame({"number_of_unique_items": [number_of_unique_items], 
              "average_price_of_items": [average_price_of_items],
              "number_of_purchases": [number_of_purchases],
              "total_sales_revenue": [total_sales_revenue]})

,number_of_unique_items,average_price_of_items,number_of_purchases,total_sales_revenue
0,179,3.05,780,2379.77